header  { 
    /* text-transform: uppercase; */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 200;
    display: flex;
    justify-content: center;
}

#header__container  { 
    backdrop-filter: blur(10px) saturate(150%) brightness(80%);
    margin: var(--general-margin) clamp(var(--general-margin), calc(calc(100vw - var(--header-max-width)) / 2), 4000px);
    border-radius: 100px;
    /* border: .5px solid rgba(255, 255, 255, 0.336); */
    width: 100%;
}

/* Border linear gradient (frosted glass effect) */
#header__container:before {
    content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 100px;
	padding: 1px;
	pointer-events: none;
	background: linear-gradient(
		178deg,
		rgba(255, 255, 255, 0.8),
		rgba(255, 255, 255, 0.1)
	);
	-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: destination-out;
	mask-composite: exclude;
}

/* Frosted glass texture */
.frosted {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	opacity: 0.4;
	pointer-events: none;
	border-radius: 100px;
	z-index: -1;
	background: linear-gradient(
			178deg,
			rgba(255, 255, 255, 0.75),
			rgba(0, 0, 0, 0.5)
		),
		url("../img/noise.svg");
}

.header__main  { 
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: calc(var(--general-margin) * 1);
}

.header__main  a{ 
    text-decoration: none;
    text-align: center;
    color: var(--color-quaternary);
    font-weight: 700;
    vertical-align: middle;
    font-size: var(--font-size-text-uppercase);
}

.header__main__title  { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__main__title img  { 
    /* width: 100%; */
    height: 43.77px;
    z-index: 1000;
}

.header__main__navs  { 
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

/* Hover underlign applied to all navbar links except the first two elements (with Ticket & donation button) */
.header__main__navs .underlined::before { 
    position: relative;

    display: block;
    left: 3px;
    bottom: -23px;
    height: 1px;
    width: 98%;

    content: '';

    border-radius: 2px;

    background: linear-gradient(to right, var(--color-quaternary) 0%, var(--color-quaternary) 100%);

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 500ms cubic-bezier(0, .61, .28, .92);
}

.header__main__navs a:hover::before  { 
    transform: scaleX(1);
}

.header__main__navs a:not(:first-child)  { 
    margin-left: calc(var(--general-margin) * 1.5);
}

/* NAVBAR Responsive */
.header__main__navs--responsive  { 
    display: none;
    /* justify-content: space-between; */
    align-items: center;
}

/* NAVBAR Collapsed */
.header__main__navs--collapse  { 
    position: fixed;
    left: 0; 
    top: 0;
    width: 100%;
    padding: calc(var(--general-margin) * 1.3);
    padding-top: calc(var(--general-margin) * 5);;

    opacity: 0;
    pointer-events: none;

    /* background-color: var(--color-quaternary); */
    
    /* background-color: rgba(20, 20, 20, 0.3); important pour Safari */


    transition: 500ms cubic-bezier(0, .61, .28, .92);
    
    -webkit-transform: translateZ(0);
    will-change: transform;

    text-align: center;

    z-index: 300;

    border: .5px solid rgba(255, 255, 255, 0.336);
    border-radius: 43px;

    background-color: rgba(68, 0, 35, 0.979);
}

.header__main__navs--collapse ul  { 
    list-style-type: none;
    padding: 0;
    /* margin-top: calc(var(--general-margin) s* 4); */
    margin-bottom: 0;
}

.header__main__navs--collapse ul > li:not(:first-child)  { 
    margin-top: calc(var(--general-margin) * 2);
}

.header__main__navs--collapse a  { 
    position: relative;

    color: var(--color-quaternary);
    /* font-size: 35px; */
    font-weight: 700;
    text-decoration: none;
}

.header__main__navs--collapse a #Facebook, .header__main__navs--collapse a #Instagram  { 
    height: 40px;
    stroke: var(--color-quaternary);
    /* fill: transparent; */

    transition:200ms cubic-bezier(0, .61, .28, .92);
}

a:hover .feather-facebook  { 
    stroke: url(#linear2);
}

/* NAVBAR Hamburger */
.hamburger  { 
    height: 32px;
    transform: none;
    transition: transform 500ms cubic-bezier(0, .61, .28, .92);
    transition: background-color 500ms cubic-bezier(0, .61, .28, .92);
    z-index: 303;

    margin-left: calc(var(--general-margin) * 1.5);
}

.hamburger button { 
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: block;
    height: 32px;
    transition: filter 750ms cubic-bezier(.645, .045, .355, 1);
    --webkit-user-select: none;
    width: 32px;
    padding: 0;
}

.button__stroke  { 
    width: 32px;
    height: 3px;

    background: var(--color-quaternary);
    border-radius: 3px;

    transform: none;
    transform-origin: left;
    transition: transform 500ms cubic-bezier(0, .61, .28, .92);

}

.button__stroke+.button__stroke  { 
    margin-top: 8px;
    transform-origin: center;
}

/* Hamburger animation */
/* "navs--collapse--open" class applied when clicked on hamburger button */

.navs--collapse--open .header__main__navs--collapse  { 
    opacity: 1;
    pointer-events: auto;
}

.navs--collapse--open .button__stroke { 
    transform: rotate(45deg) translateY(-6.5px);
    /* background-color: var(--color-tertiary); */
}

.navs--collapse--open .button__stroke+.button__stroke { 
    transform: rotate(-45deg) translateY(-3px) translateX(3px);
    /* background-color: var(--color-tertiary); */
}

a .cls-1  { 
    fill: var(--color-quaternary)!important;
}

a:hover .cls-1 { 
    fill: var(--color-primary-hover)!important;
}

.navs--collapse--open .cls-2  { 
    /* fill: var(--color-tertiary)!important; */
}

/* Disable scrolling when menu oppened */
/* .no-scroll  { 
    height: 100%; overflow: hidden;
}
 */

/* || MEDIA QUERIES */

/* Mobile phone - small device width */
@media (max-width: 1000px)  { 
    .header__main__navs--responsive  { 
        display: flex;
    }

    .header__main__navs  { 
        display: none;
    }
}

/* extra small device width */
@media (max-width: 600px) {
    #header__container  { 
        margin: calc(var(--general-margin) / 3)  clamp(calc(var(--general-margin) / 3), calc(calc(100vw - var(--header-max-width)) / 2), 4000px);
    }
}